body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.right {
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background: url(https://repository-images.githubusercontent.com/376324005/7a1c1280-d20d-11eb-802d-cc09c1312959);
    background-size: cover;
}

.left {
    height: 100vh;
    width: 50vw;
    background-color: #38388a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SignUp {
    height: auto;
    max-width: auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-shadow: 0px 0px 58px 13px rgba(212, 219, 217, 0.9);
    display: grid;
    align-content: center;
    justify-content: flex-start;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 60px;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
}
form{
    z-index: 1;
}
.img {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    grid-column: 1/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fname {
    grid-row: 4/5;
    grid-column: 1/2;
}
.lname {
    grid-row: 4/5;
    grid-column: 2/3;
}
.username {
    grid-row: 5/7;
    grid-column: 1/3;
}
.password {
    grid-row: 6/7;
    grid-column: 1/2;
}
.password2 {
    grid-row: 6/7;
    grid-column: 2/3;
}
.register {
    grid-row: 7/8;
    grid-column: 1/3;
}
.SignUp input {
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 45px;
}
#submit{
    cursor: pointer;
}
.floating-label {
    position: relative;
}
.floating-label input {
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    z-index: 1;
}
.floating-label label {
    position: absolute;
    top: 14px;
    left: 15px;
    transition: top 0.3s ease-out, font-size 0.3s ease-out;
    pointer-events: none;
}
.floating-label input:valid + label,
.floating-label input:focus + label{
    top: -20px;
    font-size: 14px;
}
.orbit-container {
    position: absolute;
    top: 5%;
    left: 13%;
    width: 400px;
    height: 720px;
    animation: orbit 5s linear infinite;
    rotate: 10px;
}
.orbiting-element {
    width: 110px;
    height: 110px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    z-index: -1;
    box-shadow: 0px 0px 58px 13px rgba(212, 219, 217, 0.9);
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 1500px) {
    .right {
        display: 50vw;
        height: 100vh;
    }
    .left {
        width: 50vw;
        height: 100vh;
    }
}
@media screen and (max-width: 450px) {
    .right {
        display: none;
    }

    .left {
        width: 100vw;
    }

    .SignUp {
        height: auto;
        max-width: 100vw;
        padding: 20px;
        border: 2px solid black;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        box-shadow: 0px 0px 58px 13px rgba(212, 219, 217, 0.9);
        display: grid;
        align-content: center;
        justify-content: flex-start;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 60px;
        grid-column-gap: 5px;
        grid-row-gap: 15px;
    }
}

@media screen and (max-height: 520px) {
    .right {
        display: none;
    }

    .left {
        width: 100vw;
    }

    .SignUp {
        height: auto;
        max-width: 100vw;
        padding: 20px;
        border: 2px solid black;
        border-radius: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        box-shadow: 0px 0px 58px 13px rgba(212, 219, 217, 0.9);
        display: grid;
        align-content: center;
        justify-content: flex-start;
        box-sizing: border-box;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 60px;
        grid-column-gap: 5px;
        grid-row-gap: 15px;
    }
}